.about{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.about .container-images{
    width: 35%;
}

.about .container-images img{
    width: 90%;
}