
  .skills{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.skills .container-images{
    width: 50%;
}

.skills .container-images img{
    width: 90%;
}
.skills.container-skills{
    width: 50%;
}
.content-skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.skill{
    width: 80px;
    height: 80px;
    background-color: var(--lightColor);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill img{
    width: 70%;
}